body{
    font-family: arial, sans-serif;
    background-color: #dbe9e8;
    color: rgb(143, 132, 132);
}

.calculator {
    background-color:#8a665d;
    width: 600px;
    height: 600px;
    border-radius: 30px;
    text-align: center;
    margin: auto;
}


h1{
    color: rgb(255, 255, 255);
    font-family: Times;
    text-align: center;
    font-size: 25px;
}

section{
    text-align: center;
  
     
}
button{
        font-size: 30px;
        height: 50px;
        width: 100px;
        background-color: #091c41;
        border-radius: 30px;
        border: none;
        color: rgb(255, 255, 255);
         font-family: Times;
}

.screen-display{
    height: 80px;
    width: 400px;
    font-size: 30px;
    background-color: #ffffff;
    font-family: Times;
}

.screen{
    width: 500px;
    height: 100px;
    background-color: #636668;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin: auto;
    padding-top: 20px;
    font-family: Times;
}

.calculator_body{
    width: 600px;
    height: 700px;
    background-color: rgb(12, 48, 71);
    margin: auto;
    border-radius: 30px;
    padding-top: 20px;
}